@{
    ViewBag.Title = "Parrot Wings";
}

<div><!-- class="jumbotron"-->
    <h1>Операции, доступные для Вашего счета.</h1>    
</div>
<div>
    <ul>
        <li>@Html.ActionLink("Новая транзакция", "NewTransaction", "Home")</li>
        <li>@Html.ActionLink("Повторить транзакцию", "RepeatTransaction", "Home")</li>
        <li>@Html.ActionLink("Список операций", "ListTransaction", "Home")</li>
        <li>@Html.ActionLink("+", "", "")</li>
    </ul>
</div>

