<p>Общедоступная страница, доступная каждому посетителю сайта.</p>
<hr/>
Каждый вновь зарегистрированный пользователь получает бонус:   <span> <a href="../Account/Register" style="color:gold; font-weight:900; font-size:xx-large; text-decoration:underline; vertical-align:middle">500</a></span>  единиц на лицевой счет!
<h1 style="text-decoration:underline"></h1> 
<address>
    <strong>Связь:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>