
<body>
    <div>
        <h2 style="color:orangered">Вы не вошли в систему.</h2>
        <h4>Для работы с сайтом необходимо войти в свою учетную запись либо создать новую</h4>
        @Html.ActionLink("Войти", "Login", "Account")
        @Html.ActionLink("Зарегистрироваться", "Register", "Account")
    </div>
</body>

